.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h1, 
h2 {
    font-weight: 300;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    text-align: center;
    font-weight: 300;
}

.small-text {
    font-size: 16px;
}

.page-container {
    margin: 0 auto;
    width: 570px;
}

#hero-img {
    width: 100%;
}